Nuclear\ Turtles/Temp
Nuclear Turtles/Library/ScriptAssemblies/Assembly-CSharp.dll
Nuclear Turtles/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Nuclear Turtles/Library/assetDatabase3
Nuclear Turtles/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Nuclear Turtles/Library/metadata/e0/e01ef7b45d2ebb7428be0eda099663ea
Nuclear Turtles/Library/shadercompiler-UnityShaderCompiler.exe0.log

